<!-- ================= Employer Area ========================= -->
<section class="image-bg" style="background:#0555e6 url(assets/img/banner-4.jpg);" data-overlay="8">
    <div class="container">

        <div class="row" data-aos="fade-up">
            <div class="col-md-12">
                <div class="heading light">
                    <h2>Populars Employers</h2>
                    <p>World top agency & employesr with 7000+ jobs</p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Employesr -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <!-- Single Employer -->
                <div class="employer-widget">
                    <div class="u-content">
                        <div class="avatar box-80">
                            <a href="employer-detail.html"><img class="img-responsive" src="{{ asset('assets/img/c-2.png') }}" alt=""></a>
                        </div>
                        <h5><a href="employer-detail.html">Google Inc</a></h5>
                        <p class="text-muted">2708 Scenic Way,  IL 62373</p>
                    </div>
                    <div class="job-type-grid">
                        <a href="employer-detail.html" class="employer-browse-btn btn-radius br-light">5 Open Position</a>
                    </div>
                </div>
            </div>

            <!-- Single Employesr -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <!-- Single Employer -->
                <div class="employer-widget">
                    <div class="u-content">
                        <div class="avatar box-80">
                            <a href="employer-detail.html"><img class="img-responsive" src="{{ asset('assets/img/c-1.png') }}" alt=""></a>
                        </div>
                        <h5><a href="employer-detail.html">Apple</a></h5>
                        <p class="text-muted">2708 Scenic Way,  IL 62373</p>
                    </div>
                    <div class="job-type-grid">
                        <a href="employer-detail.html" class="employer-browse-btn btn-radius br-light">3 Open Position</a>
                    </div>
                </div>
            </div>

            <!-- Single Employesr -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <!-- Single Employer -->
                <div class="employer-widget">
                    <div class="u-content">
                        <div class="avatar box-80">
                            <a href="employer-detail.html"><img class="img-responsive" src="{{ asset('assets/img/c-3.png') }}" alt=""></a>
                        </div>
                        <h5><a href="employer-detail.html">Core PHP</a></h5>
                        <p class="text-muted">3765 C Street, Worcester</p>
                    </div>
                    <div class="job-type-grid">
                        <a href="employer-detail.html" class="employer-browse-btn btn-radius br-light">4 Open Position</a>
                    </div>
                </div>
            </div>

            <!-- Single Employesr -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <!-- Single Employer -->
                <div class="employer-widget">
                    <div class="u-content">
                        <div class="avatar box-80">
                            <a href="employer-detail.html"><img class="img-responsive" src="{{ asset('assets/img/c-4.png') }}" alt=""></a>
                        </div>
                        <h5><a href="employer-detail.html">Indiso Ltd</a></h5>
                        <p class="text-muted">2719 Duff Avenue, Winooski</p>
                    </div>
                    <div class="job-type-grid">
                        <a href="employer-detail.html" class="employer-browse-btn btn-radius br-light">5 Open Position</a>
                    </div>
                </div>
            </div>

            <!-- Single Employesr -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <!-- Single Employer -->
                <div class="employer-widget">
                    <div class="u-content">
                        <div class="avatar box-80">
                            <a href="employer-detail.html"><img class="img-responsive" src="{{ asset('assets/img/c-5.png') }}" alt=""></a>
                        </div>
                        <h5><a href="employer-detail.html">Likvi Soft</a></h5>
                        <p class="text-muted">2708 Scenic Way,  IL 62373</p>
                    </div>
                    <div class="job-type-grid">
                        <a href="employer-detail.html" class="employer-browse-btn btn-radius br-light">2 Open Position</a>
                    </div>
                </div>
            </div>

            <!-- Single Employesr -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <!-- Single Employer -->
                <div class="employer-widget">
                    <div class="u-content">
                        <div class="avatar box-80">
                            <a href="employer-detail.html"><img class="img-responsive" src="{{ asset('assets/img/c-6.png') }}" alt=""></a>
                        </div>
                        <h5><a href="employer-detail.html">Divargo Pvt</a></h5>
                        <p class="text-muted">2865 Emma Street, Lubbock</p>
                    </div>
                    <div class="job-type-grid">
                        <a href="employer-detail.html" class="employer-browse-btn btn-radius br-light">10 Open Position</a>
                    </div>
                </div>
            </div>

            <!-- Single Employesr -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <!-- Single Employer -->
                <div class="employer-widget">
                    <div class="u-content">
                        <div class="avatar box-80">
                            <a href="employer-detail.html"><img class="img-responsive" src="{{ asset('assets/img/c-7.png') }}" alt=""></a>
                        </div>
                        <h5><a href="employer-detail.html">MicroSoft Ltd</a></h5>
                        <p class="text-muted">2719 Burnside Avenue, Logan</p>
                    </div>
                    <div class="job-type-grid">
                        <a href="employer-detail.html" class="employer-browse-btn btn-radius br-light">4 Open Position</a>
                    </div>
                </div>
            </div>

            <!-- Single Employesr -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <!-- Single Employer -->
                <div class="employer-widget">
                    <div class="u-content">
                        <div class="avatar box-80">
                            <a href="employer-detail.html"><img class="img-responsive" src="{{ asset('assets/img/c-8.png') }}" alt=""></a>
                        </div>
                        <h5><a href="employer-detail.html">Sivtrixi Inc</a></h5>
                        <p class="text-muted">3815 Forest Drive, Alexandria</p>
                    </div>
                    <div class="job-type-grid">
                        <a href="employer-detail.html" class="employer-browse-btn btn-radius br-light">5 Open Position</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- ================= Employer Area ========================= -->