<!-- ================= Job start ========================= -->
<section>
	<div class="container">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs nav-advance theme-bg" role="tablist">
			<li class="nav-item active">
				<a class="nav-link" data-toggle="tab" href="#recent" role="tab">
					Recent Jobs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#featured" role="tab">
					Featured Jobs</a>
			</li>
		</ul>

		<div class="tab-content">


			<!-- Recent Job -->
			<div class="tab-pane fade in show active" id="recent" role="tabpanel">
				<div class="row">
					{% for offer in offers %}

					<!-- Single Job -->
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="grid-job-widget">

							<span class="job-type full-type">{{ offer.type|capitalize }}</span>
							<div class="job-like">
								<label class="toggler toggler-danger">
									<input type="checkbox" checked>
									<i class="fa fa-heart"></i>
								</label>
							</div>

							<div class="u-content">
								<div class="avatar box-80">
									<a href="employer-detail.html">
{#										<img class="img-responsive" src="{{ asset('assets/img/c-1.png') }}" alt="">#}
										<img class="img-responsive" src="{{ offer.image }}" alt="">
									</a>
								</div>
								<h5><a href="employer-detail.html">{{ offer.title }}</a></h5>
								<p class="text-muted">{{ offer.location }}</p>
							</div>

							<div class="job-type-grid">
								<a href="{{ path('offers_show', {'id': offer.id}) }}" class="btn job-browse-btn btn-radius br-light">Browse Now</a>
							</div>

						</div>
					</div>

					{% endfor %}
				</div>
			</div>













			<!-- Featured Job -->
{#			<div class="tab-pane fade" id="featured" role="tabpanel">#}
{#				<div class="row">#}
{#					<!-- Single Job -->#}
{#					<div class="col-lg-3 col-md-4 col-sm-6">#}
{#						<div class="grid-job-widget">#}

{#							<span class="job-type full-type">Full Time</span>#}
{#							<div class="job-like">#}
{#								<label class="toggler toggler-danger">#}
{#									<input type="checkbox">#}
{#									<i class="fa fa-heart"></i>#}
{#								</label>#}
{#							</div>#}

{#							<div class="job-featured"></div>#}

{#							<div class="u-content">#}
{#								<div class="avatar box-80">#}
{#									<a href="employer-detail.html">#}
{#										<img class="img-responsive" src="{{ asset('assets/img/c-6.png') }}" alt="">#}
{#									</a>#}
{#								</div>#}
{#								<h5><a href="employer-detail.html">.Net Developer</a></h5>#}
{#								<p class="text-muted">2708 Scenic Way,  IL 62373</p>#}
{#							</div>#}

{#							<div class="job-type-grid">#}
{#								<a href="job-detail.html" class="btn job-browse-btn btn-radius br-light">Browse Now</a>#}
{#							</div>#}

{#						</div>#}
{#					</div>#}

{#					<!-- Single Job -->#}
{#					<div class="col-lg-3 col-md-4 col-sm-6">#}
{#						<div class="grid-job-widget">#}

{#							<span class="job-type full-type">Full Time</span>#}
{#							<div class="job-like">#}
{#								<label class="toggler toggler-danger">#}
{#									<input type="checkbox">#}
{#									<i class="fa fa-heart"></i>#}
{#								</label>#}
{#							</div>#}

{#							<div class="job-featured"></div>#}

{#							<div class="u-content">#}
{#								<div class="avatar box-80">#}
{#									<a href="employer-detail.html">#}
{#										<img class="img-responsive" src="{{ asset('assets/img/c-4.png') }}" alt="">#}
{#									</a>#}
{#								</div>#}
{#								<h5><a href="employer-detail.html">Java Developer</a></h5>#}
{#								<p class="text-muted">2708 Scenic Way,  IL 62373</p>#}
{#							</div>#}

{#							<div class="job-type-grid">#}
{#								<a href="job-detail.html" class="btn job-browse-btn btn-radius br-light">Browse Now</a>#}
{#							</div>#}

{#						</div>#}
{#					</div>#}

{#					<!-- Single Job -->#}
{#					<div class="col-lg-3 col-md-4 col-sm-6">#}
{#						<div class="grid-job-widget">#}

{#							<span class="job-type part-type">Full Time</span>#}
{#							<div class="job-like">#}
{#								<label class="toggler toggler-danger">#}
{#									<input type="checkbox">#}
{#									<i class="fa fa-heart"></i>#}
{#								</label>#}
{#							</div>#}

{#							<div class="job-featured"></div>#}

{#							<div class="u-content">#}
{#								<div class="avatar box-80">#}
{#									<a href="employer-detail.html">#}
{#										<img class="img-responsive" src="{{ asset('assets/img/c-5.png') }}" alt="">#}
{#									</a>#}
{#								</div>#}
{#								<h5><a href="employer-detail.html">Web Maintenence</a></h5>#}
{#								<p class="text-muted">3765 C Street, Worcester</p>#}
{#							</div>#}

{#							<div class="job-type-grid">#}
{#								<a href="job-detail.html" class="btn job-browse-btn btn-radius br-light">Browse Now</a>#}
{#							</div>#}

{#						</div>#}
{#					</div>#}

{#					<!-- Single Job -->#}
{#					<div class="col-lg-3 col-md-4 col-sm-6">#}
{#						<div class="grid-job-widget">#}

{#							<span class="job-type part-type">Part Time</span>#}
{#							<div class="job-like">#}
{#								<label class="toggler toggler-danger">#}
{#									<input type="checkbox">#}
{#									<i class="fa fa-heart"></i>#}
{#								</label>#}
{#							</div>#}

{#							<div class="job-featured"></div>#}

{#							<div class="u-content">#}
{#								<div class="avatar box-80">#}
{#									<a href="employer-detail.html">#}
{#										<img class="img-responsive" src="{{ asset('assets/img/c-1.png') }}" alt="">#}
{#									</a>#}
{#								</div>#}
{#								<h5><a href="employer-detail.html">Wordpress Developer</a></h5>#}
{#								<p class="text-muted">2719 Duff Avenue, Winooski</p>#}
{#							</div>#}

{#							<div class="job-type-grid">#}
{#								<a href="job-detail.html" class="btn job-browse-btn btn-radius br-light">Browse Now</a>#}
{#							</div>#}

{#						</div>#}
{#					</div>#}

{#					<!-- Single Job -->#}
{#					<div class="col-lg-3 col-md-4 col-sm-6">#}
{#						<div class="grid-job-widget">#}

{#							<span class="job-type internship-type">Internship</span>#}
{#							<div class="job-like">#}
{#								<label class="toggler toggler-danger">#}
{#									<input type="checkbox">#}
{#									<i class="fa fa-heart"></i>#}
{#								</label>#}
{#							</div>#}

{#							<div class="job-featured"></div>#}

{#							<div class="u-content">²#}
{#								<div class="avatar box-80">#}
{#									<a href="employer-detail.html">#}
{#										<img class="img-responsive" src="{{ asset('assets/img/c-7.png') }}" alt="">#}
{#									</a>#}
{#								</div>#}
{#								<h5><a href="employer-detail.html">Custom Php Developer</a></h5>#}
{#								<p class="text-muted">2708 Scenic Way,  IL 62373</p>#}
{#							</div>#}

{#							<div class="job-type-grid">#}
{#								<a href="job-detail.html" class="btn job-browse-btn btn-radius br-light">Browse Now</a>#}
{#							</div>#}

{#						</div>#}
{#					</div>#}

{#					<!-- Single Job -->#}
{#					<div class="col-lg-3 col-md-4 col-sm-6">#}
{#						<div class="grid-job-widget">#}

{#							<span class="job-type part-type">Part Time</span>#}
{#							<div class="job-like">#}
{#								<label class="toggler toggler-danger">#}
{#									<input type="checkbox">#}
{#									<i class="fa fa-heart"></i>#}
{#								</label>#}
{#							</div>#}

{#							<div class="job-featured"></div>#}

{#							<div class="u-content">#}
{#								<div class="avatar box-80">#}
{#									<a href="employer-detail.html">#}
{#										<img class="img-responsive" src="{{ asset('assets/img/c-8.png') }}" alt="">#}
{#									</a>#}
{#								</div>#}
{#								<h5><a href="employer-detail.html">New Product Mockup</a></h5>#}
{#								<p class="text-muted">2865 Emma Street, Lubbock</p>#}
{#							</div>#}

{#							<div class="job-type-grid">#}
{#								<a href="job-detail.html" class="btn job-browse-btn btn-radius br-light">Browse Now</a>#}
{#							</div>#}

{#						</div>#}
{#					</div>#}

{#					<!-- Single Job -->#}
{#					<div class="col-lg-3 col-md-4 col-sm-6">#}
{#						<div class="grid-job-widget">#}

{#							<span class="job-type full-type">Full Time</span>#}
{#							<div class="job-like">#}
{#								<label class="toggler toggler-danger">#}
{#									<input type="checkbox">#}
{#									<i class="fa fa-heart"></i>#}
{#								</label>#}
{#							</div>#}

{#							<div class="job-featured"></div>#}

{#							<div class="u-content">#}
{#								<div class="avatar box-80">#}
{#									<a href="employer-detail.html">#}
{#										<img class="img-responsive" src="{{ asset('assets/img/c-3.png') }}" alt="">#}
{#									</a>#}
{#								</div>#}
{#								<h5><a href="employer-detail.html">Product Redesign</a></h5>#}
{#								<p class="text-muted">2719 Burnside Avenue, Logan</p>#}
{#							</div>#}

{#							<div class="job-type-grid">#}
{#								<a href="job-detail.html" class="btn job-browse-btn btn-radius br-light">Browse Now</a>#}
{#							</div>#}

{#						</div>#}
{#					</div>#}

{#					<!-- Single Job -->#}
{#					<div class="col-lg-3 col-md-4 col-sm-6">#}
{#						<div class="grid-job-widget">#}

{#							<span class="job-type part-type">Part Time</span>#}
{#							<div class="job-like">#}
{#								<label class="toggler toggler-danger">#}
{#									<input type="checkbox">#}
{#									<i class="fa fa-heart"></i>#}
{#								</label>#}
{#							</div>#}

{#							<div class="job-featured"></div>#}

{#							<div class="u-content">#}
{#								<div class="avatar box-80">#}
{#									<a href="employer-detail.html">#}
{#										<img class="img-responsive" src="{{ asset('assets/img/c-6.png') }}" alt="">#}
{#									</a>#}
{#								</div>#}
{#								<h5><a href="employer-detail.html">Front End Designer</a></h5>#}
{#								<p class="text-muted">3815 Forest Drive, Alexandria</p>#}
{#							</div>#}

{#							<div class="job-type-grid">#}
{#								<a href="job-detail.html" class="btn job-browse-btn btn-radius br-light">Browse Now</a>#}
{#							</div>#}

{#						</div>#}
{#					</div>#}

{#				</div>#}
{#			</div>#}

		</div>

	</div>
</section>