{% extends 'base.html.twig' %}

{% block title %} <title> Connexion</title> {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{%  endblock %}
{% block body %}
    <style>
        fieldset
        {
            border: 1px solid #ddd !important;
            margin-top: 20px;
            min-width: 0;
            padding: 10px;
            position: relative;
            border-radius:4px;
            background-color:#f5f5f5;
            /*padding-left: 10px!important;*/
            left: 232px;
        }
        legend
        {
            font-size:14px;
            font-weight:bold;
            margin-bottom: 0px;
            width: 35%;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px 5px 5px 10px;
            background-color: #ffffff;
        }
        fieldset{
            margin-top: 160px;
            margin-bottom: 200px;
        }
    </style>
    <div class="container">
        <fieldset class="border col-md-6" >
            <legend class="col-md-6"> Please enter the following :</legend>
            <form class="box" action="{{ path('login') }}" method="post">
                {% if error %}
                    <div class="alert text-muted alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="form-group">
                    <label for="UserName">UserName :</label>
                    <input type="text" class="form-control" id="username" name="_username" placeholder="UserName" required>
                </div>
                <div class="form-group">
                    <label for="password">Password :</label>
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Password" required>
                </div>

                {# If you want to control the URL the user
                is redirected to on success (more details below) #}
                {#                {% if is_granted('ROLE_USER') %}#}
                <input type="hidden" name="_target_path" value="{{ path('home') }}">
                {#                {% endif %}#}

                {#  {% if is_granted('ROLE_ADMIN') %}#}
                {#   <input type="hidden" name="_target_path" value="{{ path('admin-index') }}">#}
                {#  {% endif %}#}

                <button class="btn btn-success" type="submit" value="Login" > Login</button>
                <a href="{{ path('app_register') }}" class="btn btn-primary">Register Now</a>
            </form>
        </fieldset>
    </div>
{% endblock %}