<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">

    <title>Jobvivo - Job Portal Template</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}">

    <!-- Bootstrap Select Option css -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap-select.min.css') }}">

    <!-- Icons -->
    <link href="{{ asset('assets/plugins/icons/css/icons.css') }}" rel="stylesheet">

    <!-- Nice Select Option css -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/nice-select/css/nice-select.css') }}">

    <!-- Animate -->
    <link href="{{ asset('assets/plugins/animate/animate.css') }}" rel="stylesheet">

    <!-- Bootsnav -->
    <link href="{{ asset('assets/plugins/bootstrap/css/bootsnav.css') }}" rel="stylesheet">

    <!-- Aos Css -->
    <link href="{{ asset('assets/plugins/aos-master/aos.css') }}" rel="stylesheet">

    <!-- Slick Slider -->
    <link href="{{ asset('assets/plugins/slick-slider/slick.css') }}" rel="stylesheet">

    <!-- Custom style -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/responsiveness.css') }}" rel="stylesheet">

    <!-- Custom Color -->
    <link href="assets/css/skin/default.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body class="green-skin">

        {% block body %}
            <div class="container">

            </div>
        {% endblock %}
</body>
</html>
